#body {
  background-color: rgb(24, 25, 29);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: start;
  user-select: none;
  
  /* 指定body区域 */
  position: fixed;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
}



#side-bar {
  /* flex: 1; */ /* 需要自定义宽度 */
  position: relative; 
  color: whitesmoke;
  background-color: rgb(43, 44, 49);
  border-radius: 10px;
  width: 150px;
}

#games{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 100px;
  right: 0px;
}
#games-list{
  max-height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.games-list::-webkit-scrollbar {
  display: none; /* 隐藏滚动条 */
}
.games-item {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  margin: 3px; 
  cursor: pointer;  
}
.games-item:hover{
  background-color: rgb(64, 64,64);
}
.games-item:hover .games-item-name{
  max-width: 5rem;
}
.games-item:hover .games-item-delete{
  display: block !important;
}
.games-item-icon {
  display: flex;
  justify-content: center; 
  align-items: center;    
  margin: 0px 5px;
  width: 30px ;
  height: 20px;
}
.games-item-name {
  max-width: 6rem;
  margin-bottom: 2px;
  font-size: xx-small; 
  white-space: nowrap; 
  overflow: hidden;  
  text-overflow: ellipsis; 
}
.games-item-delete{
  margin-left: auto; 
  width: 1rem;
  fill: rgb(250, 250,250);
  margin-bottom: 2px;
}
.games-item-delete:hover{
  fill: red;
}
.games-item-acc{
  margin-left: auto; 
  width: 1rem;
  /* margin-bottom: 2px; */
  fill: red;
}
#games-add{
  margin-top: 10px;
  height: 50px; 
}
#games-add-item{
  color: rgba(240, 240, 240, 0.8);
  font-size: xx-small;
  cursor: pointer;
  border-radius: 3px;

  margin: 0px 3px 0px 3px;
  padding: 5px 0px 5px 0px;
}
#games-add-item:hover{
  background-color: rgb(64, 64,64);
}

#user-info{
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0px;

  display: flex;
  align-items: center;
}
#user-info-icon{
  max-width: 40px;
  max-height:40px;
  margin-right: 5px;
}
#user-info-nickname{
  margin-left: 10px;
  overflow: hidden; 
  text-overflow: ellipsis;
}
#user-info-subscribe{
  font-size: 7px;
  display: flex;
}


#main-body {
  flex: 2;

  color: white;
  width: max-content;
  position: relative;
  margin-left: 10px;
  border-radius: 10px;
  overflow: hidden;
  overflow-y: auto;
}
#main-body::-webkit-scrollbar {
  display: none; /* 隐藏滚动条 */
}

#search-game{
  display: none; 

  margin: 10px;
  flex-direction: column;
  align-items: center;
}
#search-game-input{
  background: transparent;
  color:  rgba(240, 240, 240, 1);
  border: 1px solid rgba(240, 240, 240, 1);
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 20px;
  height: 20px;
}
#search-game-input::placeholder{
  color: rgba(230, 230, 230, 0.8);
}
#search-game-grid{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.search-game-grid-item{
  width: 80px;
  height: 100px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.search-game-grid-item-ad{
  width: 100%; 
  height: 80px; 
  border-radius: 5px;
  object-fit: cover; 
  object-position: center;
}
.search-game-grid-item-name{
  color: rgb(240, 240, 240);
  height: 2em;
  font-size: xx-small;
  text-align: center;
  overflow: hidden;
}
.search-game-grid-item:hover  .search-game-grid-item-focus{
  visibility: inherit;
}
.search-game-grid-item-focus{
  visibility: hidden;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-game-grid-item-focus-icon{
  max-width: 40px;
  max-height: 40px;
}


#game-detail{
  display: none; 

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 10px;
}
#game-detail-bg{
  min-height: 100%;
  /* min-width: 100%; */
}
#game-detail-body{
  border-radius: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; 
  box-shadow: inset 0px -60px 200px 100px rgba(0, 0, 0, 0.7);
}
#game-detail-body-title{
  margin-left: 50px;
  margin-top: 25px;
}
#game-detail-body-title-info{
  display: flex;
}
#game-detail-body-title-name{
  font-size: x-large;
  font-weight: bold;
}
#game-detail-body-title-info{
  margin-top: 5px;
  font-size: xx-small;
  color: rgba(230, 230, 230, 0.8);
}
#game-detail-body-acc{
  position: absolute;
  bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: rgb(164, 164, 164);
}
#game-detail-body-acc-setting{
  display: flex;
  align-items: center;
}
#game-detail-body-acc-setting-zone{
  width: 8em;
  text-align: center;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: rgb(47, 48, 53);
  color: rgb(164, 164, 164);
  border-radius: 3px;
  appearance: none;
  
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
}
#game-detail-body-acc-setting-route{
  font-size: xx-small;
  color: rgb(200, 200, 200);
  padding-inline-start:20px;
}
#game-detail-body-acc-start{
  display: flex;
  align-items: center;
  padding: 5px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: #fe6552; 
  color: white;
  cursor: pointer;
}
#game-detail-body-acc-start-icon{
  height: 2em;
}
#game-detail-body-acc-start-text{
  padding-bottom: 3px;
}


#accelerate{
  display: none; 
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 10px;
}
#accelerate-detail{
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  background-color: rgba(42,43,48);
}
#accelerate-detail-img{
  max-width: 100px;
  border-radius: 10px;
  padding: 3px;
}
#accelerate-detail-base{
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#accelerate-detail-base-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#accelerate-detail-base-info-title{
  margin-right: 10px;
}
#accelerate-detail-base-info-title-name{
  font-size: x-large;
  margin: 5px;
}
#accelerate-detail-base-info-title-stats{
  display: flex;
  font-size: xx-small;
  color: rgba(230, 230, 230, 0.8);
  margin-left: 5px;
}
#accelerate-detail-base-info-stop{
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  background-color: rgb(254, 101,82);
}
#accelerate-detail-base-route{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgba(250, 250, 250, 0.9);
}
.accelerate-detail-base-route-icon{
  margin-right: 5px;
  fill: rgba(250, 250, 250, 0.9);
  width: 2em;
} 
.accelerate-detail-base-route-arrow{
  margin-left: 3px;
  margin-right: 3px;
  width: 36px;
  height: 36px;
  fill: rgba(250, 250, 250, 0.9);
}
#accelerate-detail-base-route-arrow-acc{
  fill: rgba(254, 101,82,  1);
}
.accelerate-chart{
  /* flex-grow: 1; */
  height: 180px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: rgba(42,43,48);
}
.accelerate-footer{
  margin: 5px;
  margin-bottom: 0px;
  font-size: 12px;
  text-align: center;
  justify-content: center;
}